<configuration scan="true">

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/opt/example/var/log/server.log</file>
        <!-- This option is required if multiple apps will write to the same log file.  <prudent>true</prudent> -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
          <!-- daily rollover -->
          <fileNamePattern>/opt/example/var/log/server.log-%d{yyyyMMdd}.gz</fileNamePattern>
          <maxHistory>10</maxHistory><!-- keep X days worth of history -->
        </rollingPolicy>
        
        <append>true</append>
        
        <encoder>
            <pattern>%d %p [%X{ndcPropertyNameExample}] [%logger] \(%t\) - %msg%n</pattern>
        </encoder>  
    </appender>
    
    <logger name="org.hibernate" level="INFO" />
    <logger name="org.springframework.security" level="INFO" />
    <logger name="org.springsource" level="INFO" />
    
    <logger name="org.apache.cxf.interceptor" level="WARN" />
    
    <logger name="com.example" level="INFO" />
       
    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
  
</configuration>
